body {
    margin: 0;
}

a {
    text-decoration: none;
}



/* Верстка шапки и первого банера */

.container {
    margin: auto;
    max-width: 1600px;
}


.header {
    background-image: url(/img/Fone.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}



.header-burger {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: aqua;
    position: relative;
}

.header-burger span {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    left: 5px;
}

.header-burger span:nth-child(1) {
    transform: translateY(-10px);
}

.header-burger span:nth-child(3) {
    transform: translateY(10px);
}


.header-line {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}



.header-logo {
    padding-left: 20px;
}

.nav-block {
    display: flex;
}

.nav {
    display: flex;
    padding: 26px 283px 0 0;
}

.phone {
    padding: 26px 71px 0 0;
}

.nev-item {    
    color: #141932;
    font-family: 'Source Sans Pro Black', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-right: 59px;
}

.number-item {
    color: #141932;
    font-family: 'Source Sans Pro Black', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header-down {
    padding: 166px 0 0 20px;
    max-width: 1600px;
}

.header-title {
    color: rgba(20, 25, 50, 0.85);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
}

.btn {
    padding-top: 70px;
}

.button {
    color: #FFF;
    background-color: #141932;;
    font-family: 'Source Sans Pro Black', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 9px 15px;
    border-radius: 7px;
} 



/* Баннер */

/* 1-блок */
.banner-top {
}

.banner-txt-top {
    color: #141932;
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
}

/* 2-блок */
.banner-down {
    background-image: url(/img/Rectangle\ 7.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-block {
    width: 394px;
    height: 451px;
    padding: 160px 0 0 970px;
}

.banner-txt-down {
    color: #141932;
    text-align: justify;
    font-family: "Source Sans Pro";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}



/* Проекты */

/* 1-блок */
.content {
    max-width: 1600px;
}

.title-content {
    color: #141932;
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
}

/* 2-блок */
.projects {
    display: flex;
    margin-left: 20px;
}

.project-1 {
    border-radius: 15px;
    background: #D9D9D9;
    width: 700px;
    height: 702px;
    margin: 8px;
}

.project-column {
    position: relative;
}

.project-2 {
    border-radius: 15px;
    background: #D9D9D9;
    width: 700px;
    height: 340px;
    margin: 10px;
    position: absolute;
    top: 360px;
}

.project-3 {
    border-radius: 15px;
    background: #D9D9D9;
    width: 700px;
    height: 340px;
    margin: 10px;
    position: absolute;
    
}

.project-txt-big {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 235px;
}

.project-txt {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 49px;
}



/* Форма обратной связи */

/* Блок-1 */

.contact-block {
    max-width: 1600px;
}

.contacts {
    display: flex;
    flex-flow: column;
}

.contact-title {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
}

.contact-txt {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.form-block {
    border-radius: 15px;
    background: #202330;
    margin-left: 20px;
    height: 668px;
}

.form-title {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    padding-top: 35px;
    padding-left: 27px;
}

.form-txt {
    color: rgba(255, 255, 255, 0.35);
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 27px;
}

.form {
    padding-left: 27px;
    padding-top: 37px;
    height: 330px;
}

input {
    
}


.data-txt {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
}

.text-area {
    width: 484px;
    border: none;
    border-bottom: 1px solid #FFF;
    padding-top: 15px;
}

textarea {
    color: #FFF;
    background: transparent;   
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    border: none;
    height: 43px;
    width: 484px;
}

.send {
    margin-top: 107px;
    width: 200px;
    float: left;
}

.button-form {    
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: #202330;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
}

.agree {
    padding: 85px 0 0 261px;
    
}

.agree-txt {
    color: rgba(255, 255, 255, 0.35);
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
}

.agree-link {
    color: rgba(255, 255, 255, 0.35);
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

/* border: 1px solid rgba(255, 255, 255, 0.3)
*/


/* Футер-1 */

.footer-first {
    width: 100vw;
    height: 500px;
    background: #D9D9D9;
    margin-top: 80px;
    position: relative;
}

.footer-logo {
    padding: 70px 0 0 20px;
}

.footer-links {
    padding: 77px 0 0 20px;
    float: left;
}

.footer-txt {
    color: #141932;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 400;
    padding-top: 8px;
}

.footer-block-btn {
    position: absolute;
    margin: -50px 0 0 1200px;
}


.footer-button {
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #141932;
    color: #141932;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
}

li {
    list-style-type: none;
}



/* footer-second */

.footer-second {
    width: 100vw;
    height: 652px;
    background: #202330;
    display: flex;
}

.logo-2024 {
    padding: 60px 0 0 20px;
}

.logo-block-txt {
    padding: 26px 0 0 17px;
}

.logo-txt {
    color: rgba(217, 217, 217, 0.35);
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


@media (max-width: 1024px) {

    .header {
        width: 320px;
        height: 551px;
    }

    .header-burger {
        
    }

    .header-logo {
        width: 100px;
        height: 23px;
    }

    .header-title {
        font-size: 18px;
    }

    .button {
        width: 280px;
        height: 34px;
        font-size: 12px;
    }

    .banner-txt-top {
        font-size: 17px;
    }

    .banner-block {
        width: 165px;
        height: 203px;
    }

    .banner-down {
        width: 671px;
        height: 550px;
    }

    .banner-txt-down {
        font-size: 10px;
    }

    .title-content {
        font-size: 17px;
    }

    .project-1,
    .project-2,
    .project-3 {
        width: 281px;
        height: 270px;
    }

    .project-txt-big,
    .project-txt {
        font-size: 36px;
    }

    .contact-title {
        font-size: 17px;
    }

    .contact-txt {
        font-size: 12px;
    }

    .form-block {
        width: 280px;
        height: 429px;
    }

    .form-title {
        font-size: 17px;
    }

    .form-txt {
        font-size: 7px;
    }

    .data-txt {
        font-size: 8px;
    }

    .text-area {
        width: 110px;
    }

    .txt-area-message {
        font-size: 8px;
        width: 71px;
        height: 27px;
    }

    .button-form {
        font-size: 12px;
        width: 120px;
        height: 45px;
    }

    .agree-txt,
    .agree-link {
        font-size: 10px;
    }

    .img-footer-logo {
        width: 100px;
        height: 24px;
    }

    .footer-txt {
        font-size: 12px;
    }

    .footer-button {
        font-size: 12px;
        width: 120px;
        height: 45px;
    }

    .footer-logo-img {
        width: 35px;
        height: 13px;
    }

    .logo-txt {
        font-size: 10px;
    }

}